:root {
  /**
    |============================
    | Color text
    |============================
  */
  /* SLATE */
  --main-color-text: #434455;
  /* NAVY BLUE */
  --title-text-color: #2e2f42;
  /* IRIS */
  --btn-color: #4d5ae5;
  /* CLOUD */
  --footer-text: #f4f4fd;
  /* Withe */
  --withe-text-color: #ffffff;
  /* LIGHT SLATE */
  --light-slate-text: #8e8f99;
  /**
  
    |============================
    | Color background
    |============================
  */
  /* Основний фон */
  --withe-color: #ffffff;
  /* NAVY BLUE */
  --bgr-navy-blue: #2e2f42;
  /* CLOUD */
  --bgr-cloud: #f4f4fd;
  /* IRIS */
  --bgr-btn-color: #4d5ae5;
  /* OCEAN - стан при натисненні*/
  --pressed-state-color: #404bbf;
  /* Колір лініі в хедері cornflower */
  --cornflower: #e7e9fc;
  /* LIGHT SLATE */
  --light-slate: #8e8f99;
  /* GREEN */
  --green: #31d0aa;
  /* Dairy */
  --dairy: #fcfcfc;
  /**
    |============================
    | Others
    |============================
  */
  --indent: 24px;
  --indent-b: 48px;
  --items: 3;
  --items-b: 4;
  --items-c: 6;
}

body {
  /* text */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color */
  background-color: var(--withe-color);
  color: var(--main-color-text);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Скидання заданих стандартних выдступів для картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Прибирання підчеркування*/
.link {
  text-decoration: none;
}
/* Прибирання точок */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Приховувуємо елемент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset end */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/**
  |============ ================
  | Header Logo
  |============================
*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-page {
  display: flex;
  align-items: center;
}
.nav-page {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--btn-color);
}

.logo-dark {
  color: var(--title-text-color);
}
.logo-light {
  color: var(--footer-text);
}
/**
  |============================
  | Header Menu
  |============================
*/
.menu {
  display: flex;
  gap: 40px;
}

.menu-header {
  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.menu-header::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-header.activ {
  color: var(--pressed-state-color);
}
.menu-header.activ::after {
  background-color: var(--pressed-state-color);
}

.menu .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .link:hover,
.menu .link:focus {
  color: var(--pressed-state-color);
}
/**
  |============================
  | Header address 
  |============================
*/
/* Прибирання курсиву */
.address {
  font-style: normal;
}
.address.list {
  display: flex;
  gap: 40px;
}

.address .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list .link:hover,
.list .link:focus {
  color: var(--pressed-state-color);
}
/**
  |============================
  | Section hero  index.html
  |============================
*/
.hero {
  padding: 188px 0;

  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hw-04/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bgr-navy-blue);
}

.hero-title {
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--withe-text-color);
}

.btn {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  background-color: var(--bgr-btn-color);
  color: var(--withe-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
}
/**
  |============================
  |     Modal window
  |============================
*/
.background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;

  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  right: 24px;
  top: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  color: var(--bgr-navy-blue);
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--withe-color);
  background-color: var(--pressed-state-color);
}

/*-------------------------------------------------------------*/
.modal-text {
  display: block;

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate-text);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;

  margin-bottom: 8px;
}

.modal-imput {
  padding: 0 38px;

  width: 100%;
  height: 40px;

  font-size: 18px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: 1px solid transparent;
  outline-offset: -2px;

  color: var(--title-text-color);

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-imput:hover,
.modal-imput:focus {
  outline-color: var(--bgr-btn-color);
  border: transparent;
}

.modal-form-icon {
  position: absolute;
  display: block;

  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: var(--bgr-navy-blue);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: none;
}

.modal-imput:hover + .modal-form-icon,
.modal-imput:focus + .modal-form-icon {
  fill: var(--bgr-btn-color);
}

.modal-comment {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -2px;

  color: var(--title-text-color);

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment:hover,
.modal-comment:focus {
  outline-color: var(--bgr-btn-color);
  border: transparent;
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.modal-form-text-agreement {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate-text);
}

.modal-form-agreement-box {
  appearance: none;
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement-box:checked {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  background-size: 10px;
}

.modal-form-agreement-link {
  color: var(--btn-color);
}

/* ................................................................. */
/**
  |============================
  | Section 2 index.html
  |============================
*/
.feature-list {
  display: flex;
  gap: var(--indent);
}
.functions {
  width: calc((100% - (var(--indent) * (var(--items-b) - 1))) / var(--items-b));
}
.functions-ikon {
  display: flex;
  content: "";
  height: 112px;
  margin-bottom: 8px;

  justify-content: center;
  align-items: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bgr-cloud);
  border-radius: 4px;
}

.section-heading {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
/**
  |============================
  | Section 3 index.html
  |============================
*/
.section-three {
  padding-bottom: 120px;
}
.section-subject {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}
.section-image {
  display: flex;
  gap: var(--indent);
}
/**
  |============================
  | Section 4 index.html
  |============================
*/
.sections-page {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--bgr-cloud);
}
.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  /* line-height: 1.11; */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}
.sections-list {
  display: flex;
  gap: var(--indent);

  text-align: center;
}
.items {
  background-color: var(--withe-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-position {
  padding: 32px 0;
}

.section-text-position {
  margin-bottom: 8px;
}

/* ------Ikon------ */
.social-list {
  display: flex;
  justify-content: center;

  gap: var(--indent);
}

.social-list-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--bgr-btn-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state-color);
}
.social-ikon {
  fill: var(--footer-text);
}

/**
  |============================
  |    Section 5 
  |============================
*/
.customers-list {
  display: flex;
  justify-content: center;

  gap: var(--indent);
}

.client-item {
  width: calc((100% - (var(--indent) * (var(--items-c) - 1))) / var(--items-c));
  height: 88px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--light-slate);
  border-radius: 4px;

  color: var(--light-slate);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--pressed-state-color);
}
.client-ikon {
  fill: currentColor;
}

/**
  |============================
  | Section portfolio.html
  |============================
*/
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-navigation {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: var(--indent);
}
.btn-nav {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  background-color: var(--bgr-cloud);
  color: var(--btn-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-nav:hover,
.btn-nav:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--pressed-state-color);
  color: var(--withe-text-color);
}

/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-b) var(--indent);
}

.card-set-item {
  width: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}
.card-set-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set-link:hover,
.card-set-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* -----------------overlay----------------- */
.card-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;

  background-color: var(--bgr-btn-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set-link:hover .overlay,
.card-set-link:focus .overlay {
  transform: translateY(0);
}

/* .card-set-item:hover .overlay {
  transform: translateY(0);
} */
.overlay-text {
  color: var(--footer-text);
}
/* -----------------/overlay----------------- */

.section-text {
  color: var(--main-color-text);
}

.card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
/**
  |============================
  | Footer
  |============================
*/
/* 1 */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--bgr-navy-blue);
}

.footer-soc-media {
  display: flex;
  align-items: baseline;
}

.footer-list {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-right: 0;
  padding: 0;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;

  color: var(--footer-text);
}
/* 2 */
.footer-social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-right: 80px;
}
.social-list.media-footer {
  gap: 16px;
}

.footer-text-social {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--withe-text-color);
}

.social-link.soc-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link.soc-footer:hover,
.social-link.soc-footer:focus {
  background-color: var(--green);
}

/* 3 */
.footer-email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-email-btm {
  display: flex;

  gap: 24px;
}

.footer-input {
  display: block;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  width: 264px;
  height: 40px;
  padding: 8px 16px;

  box-sizing: border-box;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--bgr-navy-blue);
  /* background-color: transparent; */

  color: var(--withe-color);

  outline: 2px solid transparent;
  outline-offset: -2px;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  outline-color: var(--bgr-btn-color);
}

.footer-input::placeholder {
  color: var(--withe-color);
}

.footer-btn {
  position: relative;
  display: flex;
  gap: 16px;

  min-width: 165px;
  height: 40px;
  padding: 8px 64px 8px 24px;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  align-items: center;

  background-color: var(--bgr-btn-color);
  color: var(--withe-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--pressed-state-color);
}

.footer-icon {
  position: absolute;
  display: block;

  top: 50%;
  left: 117px;

  transform: translateY(-50%);

  fill: var(--withe-color);
}
